## Estudio de nacimientos

In [6]:
from nacimientos import filtrarFicheros, path
import pandas as pd
from pandas import DataFrame

In [7]:
ini = 2000
fin = 2002

In [18]:
L = filtrarFicheros(ini, fin)
primero = True
for f in L:
    fich = path+"/"+f
    dt = pd.read_csv(fich, header=None, \
                     names=['nom','sex','cont'])
    dt = dt.set_index(['nom','sex'])
    #print('Emily:',dt.loc['Emily'].loc['F']['cont'])
    print('Emily:',dt.loc['Emily','F']['cont'])
    if primero:
        dtSuma = dt
        primero = False
    else:
        dtSuma=dtSuma.add(dt, fill_value=0)
        
dtSuma.sort_values(by='cont', ascending=False, inplace=True)
dtSuma.head()

Emily: 25953
Emily: 25054
Emily: 24460

                cont
nom     sex
Jacob   M    97569.0
Michael M    89957.0
Matthew M    80526.0
Joshua  M    79533.0
Emily   F    75467.0