## Pandas: DataFrame

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [5]:
arr = np.arange(25).reshape(5,-1)
dt = DataFrame(arr, columns=list('aeiou'))
dt

    a   e   i   o   u
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [6]:
dt['a'] # Acceso por col

0     0
1     5
2    10
3    15
4    20
Name: a, dtype: int64

In [9]:
dt.loc[0] # Acceso por fila

a    0
e    1
i    2
o    3
u    4
Name: 0, dtype: int64

In [10]:
print(dt['a'][0]) # Acceso a una celda
print(dt.loc[0]['a']) # Acceso a una celda

0
0

In [8]:
dt[['a','i','e']] # Extraer varias col y cambiar el orden

    a   i   e
0   0   2   1
1   5   7   6
2  10  12  11
3  15  17  16
4  20  22  21