## Pandas merge

In [1]:
import pandas as pd

In [2]:
dtPed = pd.read_csv('Pedidos.txt',sep=';')
dtEmpr = pd.read_csv('Empresas.txt',sep=';')
dtEmp = pd.read_csv('Empleados.txt',sep=';')

In [3]:
dtPed.head(2)

   idpedido cliente  idempleado  idempresa  importe       pais
0     10248   WILMK           5          3    32.38  Finlandia
1     10249   TOMSP           6          1    11.61   Alemania

In [4]:
dtEmpr.head(2)

   id         empresa
0   1  Speedy Express
1   2  United Package

In [5]:
dtEmp.head(2)

   id   nombre                     cargo
0   1  Davolio   Representante de ventas
1   2   Fuller  Vicepresidente comercial

In [6]:
dtPed_Empr = pd.merge(dtPed,dtEmpr,left_on='idempresa',\
                     right_on='id')
dtPed_Empr.head(2)

,idpedido,cliente,idempleado,idempresa,importe,pais,id,empresa
0,10248,WILMK,5,3,32.38,Finlandia,3,Federal Shipping
1,10255,RICSU,9,3,148.33,Suiza,3,Federal Shipping

In [8]:
dt = pd.merge(dtPed_Empr,dtEmp,left_on='idempleado',\
                     right_on='id')
dt = dt[['idpedido','empresa','nombre','cliente','importe']]
dt.head(2)

   idpedido           empresa    nombre cliente  importe
0     10248  Federal Shipping  Buchanan   WILMK    32.38
1     10320  Federal Shipping  Buchanan   WARTH    34.57